<section class="sidemenu">

    <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title">
            <i class="fa fa-paw"></i>
            <span>Gentelella Alela!</span>
        </a>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#" ui-sref="home.dashboard">
                    <i class="fa fa-home"></i> HOME
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-edit"></i> USER
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-desktop"></i> Forms
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-bus"></i> TRAIN
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-bar-chart-o"></i> DIVISION
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-table"></i> STATION
                </a>
            </li>
            <li>


                <a href="#" ui-sref="home.user">
                    <i class="fa fa-windows"></i> DRIVING SECTION
                </a>
            </li>
            <li>
                <a href="#" ui-sref="home.user">
                    <i class="fa fa-laptop"></i> DRIVING DUTY
                </a>
            </li>

        </ul>
    </nav>
</section>